/.AFDX.aadlbin
/.AFDX_Properties.aadlbin
/.Hardware.aadlbin
/.Model_ADIRU_AFDX.aadlbin
/.Software.aadlbin
/.dataType.aadlbin
/.Resolute_validate.aadlbin
/.ID_Properties.aadlbin
/.Resolute_afdx.aadlbin
/.adiru_memory.aadlbin
/.partitions.aadlbin
